.about-me {
    margin: 100px 0;
}

.about-me-title {
    text-align: end;
    padding-right: 15%;
    position: relative;
}

.about-me-title div {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-right {
    border-left: solid 1px var(--txt-primary);
    padding: 30px 0;
}

.about-right p {
    font-size: 14px;
    padding: 0 0 0 5%;
}

.btn-resume {
    outline: none;
    border-radius: 5px;
    color: var(--txt-primary);
    text-decoration: none;
    display: inline-block;
    border: 1px solid var(--txt-primary);
    padding: 8px;
    width: 40%;
    margin: 10px 0 0 0;
    transition: border-color 0.08s linear;
}

.btn-resume:hover {
    border-color: var(--orange);
}

a .btn-resume {
    color: var(--txt-primary);
    text-decoration: none;
}

.highlight {
    color: var(--orange);
    font-weight: bold;
}

@media only screen and (max-width: 991px) {
    .about-me-title {
        text-align: center;
        padding: 0;
    }

    .about-right {
        border-left: none;
        text-align: center;
        margin: auto;
        
    }

    .about-right p {
        padding: 0;
    }

    .btn-resume {
        margin: 20px;
    }
}