.container-contact {
    height: 95vh;
    margin: auto;
    vertical-align: center;
}

.title-container {
    margin: 100px 0;
}

.title-description {
    font-size: 16px;
    margin-top: 30px;
}

.title-contact {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
}

.btn-contact {
    outline: none;
    border: 0.5px solid var(--txt-primary);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 100%;
}

.btn-contact a {
    text-decoration: none;
}

.btn-logo {
    width: 100%;
    height: 40px;
    border-radius: 2px;
    object-fit: contain;
}

.btn-label-contact {
    margin: auto 0;
}

.btn-label-contact p {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0;
    word-wrap: break-word;
}