:root,
:root.light {
    --bg-primary: #ffffff;
    --bg-secondary: #3b3b3b;
    --txt-primary: #212833;
    --grey: #3b3b3b;
    --role: #414141;
    --txt-secondary: #dadada;
    --orange: #ffb300;
    --bg-card: #ececec;
}

:root.dark {
    --bg-primary: #212833;
    --bg-secondary: #161a20;
    --txt-primary: #ffffff;
    --grey: #818795;
    --role: #bdbdbd;
    --txt-secondary: #dadada;
    --orange: #ffb300;
    --bg-card: #161a20;
}

* {
    font-family: 'Roboto', 'sans-serif';
    background-color: var(--bg-primary);
    color: var(--txt-primary);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

.profile-row {
    height: 100%;
    min-height: 100vh;
}

.profile-intro {
    width: 100%;
}

.profile-name {
    text-align: end;
    border-right: solid 1px var(--grey);
    padding-right: 20px;
}

.profile-name #role {
    letter-spacing: 0.5px;
    color: var(--role);
    content: '';
    height: 30px;
}

.profile-name #fullname {
    margin-top: -20px;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.photo-canvas {
    background-color: var(--grey);
    width: 50%;
    margin: auto;
    border-top-left-radius: 310px;
    border-top-right-radius: 310px;
    border-bottom-left-radius: 290px;
    border-bottom-right-radius: 290px;
}

.photo-profile {
    max-height: 300px;
    margin: auto;
    background-color: initial;
}

.description {
    position: relative;
    padding-left: 20px;
    border-left: 1px solid var(--txt-primary);
    width: 60%;
}

.description .quote {
    position: absolute;
    top: -15px;
    left: 0;
    font-size: 70px;
    line-height: 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.logos {
    margin: 10px 0;
}

.image-logo {
    margin: 10px 0px 0px 10px;
}

.profile-bio-container {
    background-color: var(--bg-secondary);
}

.profile-bio-sub {
    background-color: var(--bg-secondary);
}

.profile-bio {
    background-color: var(--bg-secondary);
}

.profile-bio div {
    padding: 50px 0;
    background-color: var(--bg-secondary);
}

.bio-label {
    color: #818795;
    font-size: 20px;
    background-color: var(--bg-secondary);
}

.bio {
    color: var(--txt-secondary);
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 22px;
    background-color: var(--bg-secondary);
}

.text-born {
    text-align: left;
}

.text-exp {
    text-align: center;
}

.text-dob {
    text-align: end;
}

.line-title {
    height: 4px;
    width: 150px;
    background-color: var(--orange);
    content: '';
    position: absolute;
    right: 15%;
}

.footers {
    background-color: var(--bg-secondary);
    margin-top: auto;
    margin-bottom: auto;
}

.footers * {
    background-color: var(--bg-secondary);
}

.footers p {
    padding: 1.5vh 0;
    vertical-align: middle;
    margin: 0;
    color: var(--txt-secondary);
    font-size: 14px;
}

.copyright {
    text-align: left;
}

.powered {
    text-align: right;
}

.toggle-theme-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 3%;
    z-index: 1;
}

.toggle-wrapper {
    position: relative;
}

.toggle {
    width: 40px;
    height: 40px;
    right: 5%;
    position: absolute;
    text-align: center;
    outline: none;
    border: 0.5px solid var(--txt-primary);
    word-wrap: break-word;
    font-size: 14px;
    border-radius: 50%;
}



@media only screen and (max-width: 991px) {

    .profile-name {
        margin-top: 100px;
        text-align: center;
        border-right: none;
        padding-right: 0;
    }

    .photo-container {
        margin: 50px 0;
    }

    .description {
        margin: 75px auto;
        border-left: none;
        border-bottom: 1px solid #ffffff;
        padding-left: 0;
        padding-bottom: 20px;
        text-align: center;
    }

    .description .quote {
        left: 49%;
        transform: translateX(-50%);
    }

    .profile-bio-container {
        height: 100vh;
    }

    .text-born {
        text-align: center;
    }

    .text-dob {
        text-align: center;
    }

    .line-title {
        left: 45%;
    }

    .footers p {
        padding: 0;
        vertical-align: middle;
        margin: 0 auto;
        color: #818795;
    }
    
    .copyright {
        text-align: center;
    }
    
    .powered {
        text-align: center;
    }
}